<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Doppler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Doppler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
    </configSections>
    <userSettings>
        <Doppler.Properties.Settings>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MobileDevice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MobileDeviceAutoRetrieve" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BloglinesPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="BloglinesUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SyncBloglines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckAutomatic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DuplicateAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BloglinesCategory" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxFiles" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseIEProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowPopup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyServer" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="PlayNotificationSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxThreads" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MediaPlayer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MediaPlayerApp" serializeAs="String">
                <value />
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyAuthentication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>520, 400</value>
            </setting>
            <setting name="FilesSortColumn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Flags" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Point" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ViewerPane" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Splitter1" serializeAs="String">
                <value>553</value>
            </setting>
            <setting name="NewsGatorUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="NewsGatorPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="FullName" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="MinimizeToSystemTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchEngine" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckHour1" serializeAs="String">
                <value>2005-11-20</value>
            </setting>
            <setting name="CheckHour2" serializeAs="String">
                <value>2005-11-20</value>
            </setting>
            <setting name="CheckHour3" serializeAs="String">
                <value>2005-11-20</value>
            </setting>
            <setting name="CheckHour1Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckHour2Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckHour3Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IntervalMinutes" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioConvertM4B" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioFile" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoFile" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioCustomApp" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoCustomApp" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioExtensions" serializeAs="String">
                <value>mp3,mp4,au,aac,m4a,m4b,ogg,wma,wav,ogg</value>
            </setting>
            <setting name="VideoExtensions" serializeAs="String">
                <value>mp4,mpeg,wmv,avi,mpg,mpeg1,mov</value>
            </setting>
            <setting name="CheckType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowFavIcons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastRetrieve" serializeAs="String">
                <value />
            </setting>
            <setting name="FilesSortOrder" serializeAs="String">
                <value>Ascending</value>
            </setting>
            <setting name="ShowPlayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAdvancedFeedDialog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteStorageUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteStoragePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UseRemoteStorage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceRetrieveOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Splitter2" serializeAs="String">
                <value>272</value>
            </setting>
            <setting name="ShowTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentTip" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Splitter3" serializeAs="String">
                <value>179</value>
            </setting>
            <setting name="DefaultMediaAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConfirmFileDelete" serializeAs="String">
                <value>True</value>
            </setting>
        </Doppler.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Doppler.Properties.Settings>
            <setting name="Doppler_net_dopplerradio_update_Doppler" serializeAs="String">
                <value>http://update.dopplerradio.net/update.asmx</value>
            </setting>
        </Doppler.Properties.Settings>
    </applicationSettings>
</configuration>