<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="doppler.History" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        <section name="doppler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        <section name="doppler.Doppler" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="doppler.History" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="doppler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="doppler.Doppler" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
</configSections>
<appSettings><add key="Doppler.net.dopplerradio.www.DopplerSyncServices" value="http://www.dopplerradio.net/ws/ws.php"/></appSettings><userSettings>
        <doppler.History />
        <doppler.Properties.Settings>
                                                                                                                                              <setting name="DownloadLocation" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>c:\temp</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="CheckInterval" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>False</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="StartMinimized" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>False</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="MobileDevice" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>False</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="MobileDeviceAutoRetrieve" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>False</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="MinimizeOnClose" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>False</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="BloglinesPassword" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value />
                                                                                                                                              </setting>
                                                                                                                                              <setting name="BloglinesUsername" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value />
                                                                                                                                              </setting>
                                                                                                                                              <setting name="SyncBloglines" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>False</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="CheckHour" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>False</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="CheckAutomatic" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>False</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="IntervalMinutes" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>0</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="CheckHour1" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value />
                                                                                                                                              </setting>
                                                                                                                                              <setting name="CheckHour2" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value />
                                                                                                                                              </setting>
                                                                                                                                              <setting name="CheckHour3" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value />
                                                                                                                                              </setting>
                                                                                                                                              <setting name="DuplicateAction" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>0</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="BloglinesCategory" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value />
                                                                                                                                              </setting>
                                                                                                                                              <setting name="MaxFiles" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>0</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="MaxSize" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>0</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="UseIEProxy" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>False</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="LogLevel" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>0</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="ShowPopup" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>True</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="ProxyServer" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value />
                                                                                                                                              </setting>
                                                                                                                                              <setting name="ProxyPort" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value />
                                                                                                                                              </setting>
                                                                                                                                              <setting name="ProxyUsername" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value />
                                                                                                                                              </setting>
                                                                                                                                              <setting name="ProxyPassword" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value />
                                                                                                                                              </setting>
                                                                                                                                              <setting name="TimeOut" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>10000</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="PlayNotificationSound" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>True</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="UseProxy" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>False</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="MaxThreads" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>5</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="MediaPlayer" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>1</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="MediaPlayerApp" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value />
                                                                                                                                              </setting>
                                                                                                                                              <setting name="Version" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value />
                                                                                                                                              </setting>
                                                                                                                                              <setting name="ProxyAuthentication" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>False</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="Volume" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>100</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="DebugMode" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>False</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="Size" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>520, 400</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="SortColumn" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>0</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="SortOrder" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>Ascending</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="Flags" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>0</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="BufferSize" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>0</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="Point" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>0, 0</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="ViewerPane" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>True</value>
                                                                                                                                              </setting>
                                                                                                                                              <setting name="Splitter1" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value>553</value>
                                                                                                                                              </setting>
        </doppler.Properties.Settings>
        <doppler.Doppler>
                                                                                                                                              <setting name="DownloadLocation" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value />
                                                                                                                                              </setting>
                                                                                                                                              <setting name="CheckInterval" serializeAs="String">
                                                                                                                                                                                                                                                                                    <value />
                                                                                                                                              </setting>
        </doppler.Doppler>
    </userSettings>
                                                                                                                                      <applicationSettings>
                                                                                                                                                                                                                                                                            <doppler.History />
                                                                                                                                                                                                                                                                            <doppler.Properties.Settings>
                                                                                                                                                                                                                                                                                                                                                                                                                  <setting name="setting" serializeAs="String">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <value />
                                                                                                                                                                                                                                                                                                                                                                                                                  </setting>
                                                                                                                                                                                                                                                                            </doppler.Properties.Settings>
                                                                                                                                                                                                                                                                            <doppler.Doppler />
                                                                                                                                      </applicationSettings>
                                                                                                                                      </configuration>
